<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown and Tooltip</title>
    <link rel="stylesheet" href="Style.css" />
  </head>
  <body>
 <h2>Dropdown Menu</h2>
 <p>Move Mouse Over Button To Open Dropdown Menu</p>
 <div class="dropdown">
    <button class="dropbtn" >Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Link1</a>
       <a href="#">Link2</a>
       <a href="#">Link3</a>
    </div>
 </div>


 <p id="bottom" >Note:<strong> We used href="#" for test links.In real this would be URLs</strong></p>
      
    </div>

     <h2>Basic ToolTip</h2>
    <div class="tooltip">
      Hover Over Me
        <Span class="tooltip-text" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit sapiente dolores iste, labore rem unde eaque.</Span>
    </div>
  </body>
</html>
