* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}
button:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #8052ec, #d161ff);
}
.container {
  width: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-width: 450px;
  padding: 30px 40px;
}
.container h1 {
  text-align: center;
  margin: 1rem;
  color: white;
  font-size: 40px;
}
.newTask {
  position: relative;
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.newTask input {
  width: 70%;
  height: 45px;
  font-family: "Poppins" sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #111;
  position: relative;
  padding: 12px;
  border: 2px solid #d1d3d4;
}
.newTask input:focus {
  outline: none;
  border-color: #8052ec;
}
.newTask .add {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #8052ec;
  font-size: 16px;
  font-weight: 500px;
  font-family: "Poppins" sans-serif;
  cursor: pointer;
}
.tasks {
  position: relative;
  background: #fff;
  padding: 30px 20px;
  margin-top: 60px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.popup {
  width: 30%;
  position: absolute;
  left: 10%;
  min-width: 350px;
  padding: 30px 40px;
  max-height: 70px;
}
.popups {
  position: relative;
  width: 100%;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.popups .success {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: green;
  color: white;
  width: 100%;
  padding: 5px;
  height: auto;
  display: none;
  animation: popIn 0.8s ease-in-out;
}
.popups .error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  width: 100%;
  padding: 5px;
  height: auto;
  display: none;
  animation: popIn 1s ease-in-out;
}
.popups .deleted {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
  width: 100%;
  padding: 5px;
  height: auto;
  display: none;
  animation: popIn 1s ease-in-out;
}

.popups div {
  border-left: 10px solid white;
  border-radius: 2px 10px 10px 2px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px 10px;
  height: 50px;
  background-color: #fff;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}
.taskname {
  font-size: 15px;
  font-weight: 400;
}

.task button {
  color: #fff;
  background-color: #8052ec;
  width: 40px;
  height: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width:600px){
  .popup {
  left: 18%;

}
}