<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <center>
      <h2>Spinner Loader</h2>
      <div class="spinner"></div>

      <h2>Bouncing Loader</h2>
      <div class="bouncing-loader"><span></span><span></span><span></span></div>

      <h2>Dual Ring Loader</h2>
      <div class="dual-ring-loader"></div>

      <h2>Loading Bar</h2>
      <div class="loading-bar">
        <div class="bar"></div>
      </div>

      <h2>Typing Dots Loader</h2>
      <div class="typing-dots-loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </center>
  </body>
</html>
