* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: beige;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #000;
  border-top: 6px solid #f00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Bouncing Loader */

.bouncing-loader span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: blue;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
    opacity: 0.6;
  }
}
.bouncing-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

.dual-ring-loader {
  width: 50px;
  height: 50px;
  border: 5px solid #000;
  border-top: 6px solid brown;
  border-bottom: 6px solid brown;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-bar {
  width: 150px;
  height: 10px;
  background-color: skyblue;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.bar {
  background-color: blue;
  width: 40px;
  height: 9px;
  border-radius: 3px;
  position: absolute;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    left: -40px;
  }
  100% {
    left: 175px;
  }
}

.typing-dots-loader span {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 5px;
  background-color: green;
  border-radius: 50%;
  animation: typing 1s infinite ease-in-out;
}

@keyframes typing {
  0% {
    transform: scale(1);
    opacity: 0.5;
    background-color: green;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
    background-color: darkgreen;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
    background-color: green;
  }
}

.typing-dots-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots-loader span:nth-child(3) {
  animation-delay: 0.4s;
}
