.Danger button {
  padding: 15px 25px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: tomato;
  box-shadow: 5px 5px 5px #ccc;
}

.Danger button:hover {
  transform: scale(1.1);
}
.Danger button:focus,
 .Danger button:hover{
  background: red;
  animation:  alert 3s forwards infinite ease-in-out ;
}

@keyframes alert {
  0% {
    background: tomato;
  }
  10% {
    background: red;
  }
  20% {
    background: tomato;
  }
  30% {
    background: red;
  }
  40% {
    background: tomato;
  }
  50% {
    background: red;
  }
  60% {
    background: tomato;
  }
  70% {
    background: red;
  }
  80% {
    background: tomato;
  }
  90% {
    background: red;
  }
  100% {
    background: tomato;
  }
}
