<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="Style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="dropdown">
            <a href="#"
              >Services
              <i class="fa-solid fa-caret-down" style="color: #ffffff"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">SEO</a></li>
              <br />
              <li><a href="#">WEBSITE DESIGN</a></li>
              <br />
              <li><a href="#">ADVERTISEMENT</a></li>
              <br />
            </ul>
          </li>
          <li class="dropdown">
            <a href="#"
              >Contact
              <i class="fa-solid fa-caret-down" style="color: #ffffff"></i
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Call Us</a></li>
              <br />
              <li><a href="#">Message Us</a></li>
              <br />
              <li><a href="#">Mail us</a></li>
              <br />
            </ul>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
