.modalToggle {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  z-index: 1000;
}
.modal h2,
.modal p {
  color: lightseagreen;
}

.modalContent {
  background: beige;
  display: inline-block;
  padding: 25px;
  border-radius: 10px;
  margin-top: 15vh;
  width: 300px;
  text-align: center;
}

.modalContent input,
.modalContent textarea {
  width: 80%;
  margin: 8px 0;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.modalContent input:focus,
.modalContent textarea:focus {
  border: 2px solid lightseagreen;
}

.modalToggle:checked + .modal {
  visibility: visible;
  opacity: 1;
}

.modalBtn {
  padding: 10px 20px;
  background: lightseagreen;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
