<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagination</title>
    <link rel="stylesheet" href="pagination.css" />
  </head>
  <body>
    <section class="paginations">
      <h1>Simple Pagination Example</h1>
      <div class="simple pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="pagination.html" target="_blank">&raquo;</a>
      </div>

      <h1>Rounded Pagination</h1>
      <div class="rounded pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#" class="active">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
      </div>

      <h1>Bordered Pagination</h1>
      <div class="bordered pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">&raquo;</a>
      </div>

      <h1>Gradient Pagination</h1>
      <div class="gradient pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#" class="active">5</a>
        <a href="#">&raquo;</a>
      </div>
    </section>
  </body>
</html>
